*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	justify-content: center;
  	font-family: "Nerko One", cursive;
  	font-weight: bold;
  	text-decoration: none;
}

body{
	background-color: black;
}

.header-container{
	position: fixed;
	align-items: center;
	background-color: red;
	width: 100%;
	margin-bottom: 10px;
}

.header-text-name{
	font-size: 35px;
	color: white;
}

.header-bot-cover{
	display: flex;
	align-items: center;
}

.header-bot-cover i{
	color: white;
	font-size: 24px;
	margin: 0 3px;
}

.cs-text2{
	color: white;
	font-size: 18px;
}

.header-text-left{
	display: flex;
	align-items: center;
}

.contac-info-icon i{
	align-items: center;
	font-weight: 400;
	transition: all .42s ease;
}

.contac-info-icon i:hover{
	transform: scale(1.1);
}

.run-stop{
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	align-items: center;
}

.run-stop i{
	color: white;
	font-size: 16px;
}

.run-stop h1{
	font-size: 16px;
	color: white;
}

.wrapper-product{
	margin-top: 115px;
}

.button-pro-menu{
	margin-top: 10px;
	background-color: white;
	color: black;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
	border: 2px solid black;
	transition: all .42s ease;
}

.button-pro-menu:hover{
	background-color: red;
	color: white;
	transform: scale(1.1);
}

.active{
	background-color: red;
	color: white;
}

#products{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 10px;
	padding: 10px;
}

.card{
	background-color: red;
	max-width: 300px;
	margin-top: 15px;
	padding: 2px;
	border-radius: 10px;
	font-size: 20px;
	color: white;
}

.image-container{
	text-align: center;
	align-content: center;
}


img{
	max-width: 100%;
	object-fit: contain;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.hide{
	display: none;
}


.copyright-text{
	color: white;
	font-size: 18px;
	margin-top: 200px;
}
